* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    background-color: transparent;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: $m-size;
    line-height: 1.6; 
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
.is-active {
    font-weight: bold;
}
a {
    text-decoration: none;
}
#edamam-badge {
    width: 100%;
    background-color: white;
}
.main-content{
    min-height: calc(100vh - 122px);
    background: url('/background-1932466_1280.jpg');
    background-size: cover;
    padding-bottom: 40px;
}
.error-tag {
    font-style: italic;
    color: red;
    font-size: 22px;
    text-align: center;
}
